<!-- Modal btn -->
<span type="button" (click)="open(mymodal)" data-bs-toggle="modal">
  Log In
</span>

<!-- MODAL -->
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')">
    </button>
  </div>

  <div class="modal-body text-center">
    <img src="../../../assets/disney-en-US.png" class="img-fluid" style="max-width: 70%;" alt="">
    <h2 class="modal-title mt-4" id="modal-basic-title">Enter your email address</h2>
    <form [formGroup]="login"
          (ngSubmit)="submitForm()">
      <div class="mb-3">
        <!-- Email -->
        <input  type="email"
                class="form-control"
                placeholder="Email Address"
                formControlName="email"/>
                <p class="form-error">
                  <span *ngIf="invalidField('email')">
                    {{ emailErrorMsg }}
                  </span>
                </p>
      </div>
      <!-- Password -->
      <div class="mb-3">
        <input  type="password"
                class="form-control"
                placeholder="Enter your password"
                formControlName="password"/>
                <p class="form-error">
                  <span *ngIf="invalidField('password')">
                    Please enter a password.
                  </span>
                </p>
      </div>
      <div class="mt-2">
        <button type="submit"
                class="btn btn-primary text-light"
                (click)="modal.close('submit')">
          Continue
        </button>
      </div>
    </form>
  </div>
</ng-template>
