<!-- Modal btn -->
<span type="button" (click)="open(mymodal)" data-bs-toggle="modal">
    Sign Up
  </span>
  
  <!-- MODAL -->
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <button type="button"
              class="btn-close btn-close-white"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')">
      </button>
    </div>
  
    <div class="modal-body text-center">
      <img src="../../../assets/disney-en-US.png" class="img-fluid" style="max-width: 70%;" alt="">
      <h2 class="modal-title mt-4" id="modal-basic-title">Create your Account</h2>
      <form [formGroup]="registerForm">
        <!-- Name -->
        <div class="mb-3">
          <input  type="text"
                  class="form-control"
                  placeholder="First Name"
                  formControlName="firstName"/>
                  <p class="form-error">
                    <span *ngIf="invalidField('firstName')">
                      Please enter your first name.
                    </span>
                  </p>
        </div>
        <!-- Last Name -->
        <div class="mb-3">
          <input  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  formControlName="lastName"/>
                  <p class="form-error">
                    <span *ngIf="invalidField('lastName')">
                      Please enter your last name.
                    </span>
                  </p>
        </div>
        <!-- Email -->
        <div class="mb-3">
          <input  type="email"
                  class="form-control"
                  placeholder="Email Address"
                  formControlName="email"/>
                  <p class="form-error">
                    <span *ngIf="invalidField('email')" 
                    [innerHTML] = "emailErrorMsg">
                    </span>
                  </p>
        </div>
        <!-- Password -->
        <div class="mb-3">
          <input  [type]="showPassword ? 'text' : 'password'"
                  class="form-control"
                  placeholder="Enter your password"
                  formControlName="password"/>
                  <p class="form-error">
                    <span *ngIf="invalidField('password')">
                      {{ passwordErrorMsg }}
                    </span>
                  </p>
        </div>
        <!-- show password -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="passwordCheck" (click)="toggleShow()">
          <label class="form-check-label" for="passwordCheck">
            <p class="checkbox-text">
              Show password
            </p>
          </label>
        </div>
        <!-- terms of use -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="terms" value="" id="flexCheck">
          <label class="form-check-label" for="flexCheck">
            <p class="checkbox-text">Yes! I would like to receive by email special offers and updates about Lucasfilm Ltd. and other
              products and services from The Walt Disney Family of Companies.
              <a target="_blank" rel="noopener"
                href="https://privacy.thewaltdisneycompany.com/en/definitions/#The-Walt-Disney-Family-of-Companies">The Walt Disney
                Family of Companies</a>
            </p>
          </label>
        </div>
         
          <p class="privacy">
            <span>
            By creating an account, you
            agree to our <a target="_blank" rel="noopener" href="https://disneytermsofuse.com/english/">Terms of Use</a>, and
            acknowledge that you have read our <a target="_blank" rel="noopener"
              href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/">Privacy Policy</a>, <a target="_blank"
              rel="noopener" href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/cookies-policy">Cookies
              Policy</a> and <a target="_blank" rel="noopener"
              href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/privacy-notice/">UK &amp; EU Privacy
              Rights</a>.</span>
          </p>
        <p class="legal-locale" id="UpdateLegalCountry" data-testid="UpdateLegalCountry">My home country/region: Spain. <a
            href="#" class="" aria-label="Change" aria-labelledby="Change">Change</a>.</p>
        <div class="mt-2">
          <button type="submit"
                  class="btn btn-primary text-light"
                  (click)="submitForm()">
            Continue
          </button>
        </div>
      </form>
    </div>
  </ng-template>
  