<div class="container">
  
  <div class="text-center p-5 m-5" *ngIf="!loading; else divStarships">
    <button class="btn btn-primary " type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
  </div>
  
  <ng-template #divStarships>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mx-5">
      <div class="card-group"
           [routerLink]="['/starships/', starship | id]"
           *ngFor="let starship of starships; let i = index">
        <div class="card text-white bg-secondary mb-3 animate__animated animate__slideInUp">
          <img src="{{ urlImg }}/{{ starship | id }}.jpg" 
               onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'" 
               class="card-img-top" 
               alt="{{ starship.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ starship.name | uppercase }}</h5>
            <p class="card-text">{{ starship.model | titlecase }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="2000"
    (scrolled)="onScroll()" -->
    <div class="button m-5 d-flex justify-content-center animate__animated animate__slideInUp"
         *ngIf="!hideButton">
      <span class="show-more" (click)="showMore()" > show more </span>
    </div>
 
  </ng-template>
  
</div>
