<div class="container">
  
  <div class="text-center p-5 m-5" *ngIf="!loading; else divStarships">
    <button class="btn btn-primary " type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
  </div>
  
  <ng-template #divStarships>
    <div
      class="row"
      infinite-scroll
      [infiniteScrollDistance]="20"
      [infiniteScrollThrottle]="2000"
      (scrolled)="onScroll()"
      *ngFor="let starship of starships; let i = index">
      <div class="col">
        <div class="card mx-auto w-75 text-white bg-secondary mb-3 animate__animated animate__fadeInUp">
          <div class="card-body" [routerLink]="['/starships/', starship | id]">
            <h5 class="card-title">{{ starship.name }}</h5>
            <p class="card-text">{{ starship.model }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  
</div>
