<nav class="navbar center navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid center">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav text-light">
                <li class="nav-item">
                    <a class="nav-link" href="home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="starships">STARSHIPS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>