@media screen and (min-width:992px) {
    
    .navbar-collapse {
        flex-grow: 0;
    }
    
    .container-fluid.center {
        justify-content:space-around;
    }
}

#navbar-container {
    background-image: url('https://img.wallpapersafari.com/desktop/1600/900/61/98/2SciB7.png');
    background-color: black;
}

.form-control {
    border: 0;
    background-color: #343434;
    min-width: 26px;
    box-shadow: none;
    height: 40px;
    opacity: 0.7;
}

.form-control:hover {
    opacity: 1;
}

.btn {
    border: 0;
    background-color: transparent;
}

.input-group-append {
    background-color: #343434;
    border-radius: 4px;
    opacity: 0.7;
}

#nav-login {
    font-size: 0.875em;
    text-shadow: 0 1px 6px rgb(0 0 0 / 50%);
    white-space: nowrap;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

// LOGO
img {
    top: 50%;
    width: 100%;
    max-width: 203px;
    cursor: pointer;
}

nav {
    padding: 0;
    border-top: 1px solid #343434;
    border-bottom: 1px solid #343434;
}

ul {
    border-right: 1px solid #343434;
    text-transform: uppercase;
    max-width: 1200px;
    letter-spacing: 1px;
}
  
li {
    padding: 4px 32px;
    box-sizing: border-box;
    border-left: 1px solid #343434;
}

li a:hover {
    color: white;
    transition: background 0.5s ease-in;
}

a {
    padding-left: 0;
    font-size: 14px;
}

a:hover {
    color:white;
}

.horizontal-bar {
    display: hidden;
}

.active .horizontal-bar {
    display: block;
    position: relative;
    // width: 32px;
    color: #7bb149;
    border-top: 1px solid #fff;
    box-shadow: 0 0 6px 2px;
}

.active {
    color: #6f6f6f;
}