@media only screen and (min-width: 1024px) {
    .title-text .non-mobile-title-text {
        display: inline-block;
    }

    .mobile-title-text {
        display: none;
    }
}

.non-mobile-title-text {
    display: none;
}

//carousel title
h1 {
    font-size: 2rem;
    line-height: 1.1875;
    color: inherit;
    font-weight: 100;
}

//info streaming
h2 {
    cursor: pointer;
    color: #999;
    font-size: 0.8em;
    letter-spacing: 0.8px;
    margin-right: auto;
    line-height: 1em;
}

//carousel description
h3 {
    font-size: 1.25rem;
    color: inherit;
    font-weight: 100;
    line-height: 24px;
}
