<div class="col d-flex justify-content-center">
  <div class="row">
    <h2>
      <span class="title-text">
        <!-- LINK TO DISNEY+ -->
        <!-- href="https://www.disneyplus.com/es-es/brand/star-wars?cid=DTCI-Synergy-StarWars-Site-Acquisition-Library-US-StarWars-NA-EN-NavPipe-StarWars_NavPipe_StarWarsStreamingAnytimeonDisneyPlus_Evergreen-NA" -->
        <div
          class="mobile-title-text"
          href="#">
          STREAM STAR WARS ON DISNEY+
        </div>
        <div
          class="non-mobile-title-text"
          href="#">
          ALL OF YOUR STAR WARS FAVORITES NOW STREAMING ON DISNEY+
        </div>
      </span>
    </h2>
  </div>
</div>
